<!DOCTYPE html>
<html>
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
</script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://d3js.org/d3.v5.min.js"></script>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">


    <style>
        /* Set the size of the div element that contains the map */
        #map {
            height: 1000px; /* The height is 400 pixels */
            width: 100%; /* The width is the width of the web page */
        }

        #streetview {
            display: none;
        }

        .text {
            font-weight: bold;
            z-index: 1;
            position: absolute;
            left: 50%;
            top: 50%;
        }

        body {
            margin: 15px;
            background-color: #F1F3F3
        }

        .bar {
            fill: #6F257F;
        }

        .axis path,
        .axis line {
            fill: none;
            stroke: #D4D8DA;
            stroke-width: 1px;
            shape-rendering: crispEdges;
        }

        .x path {
            display: none;
        }

        .toolTip {
            position: absolute;
            display: none;
            min-width: 80px;
            height: auto;
            background: none repeat scroll 0 0 #ffffff;
            border: 1px solid #6F257F;
            padding: 14px;
            text-align: center;
        }
    </style>
    <svg width="960" height="500"></svg>
</head>
<body>
<h1>Mappeal</h1>

Enter city: <input id="cityInput" type="text" name="city"><br>
<button id="mapBtn">Submit</button>


<!--The div element for the map -->
<div id="block">
    <div class="text hide">Location Details:</div>
    <a>
        <img id="streetview"/>
    </a>
</div>

<div id="map"></div>
<script>

    var svg = d3.select("svg"),
        margin = {top: 20, right: 20, bottom: 30, left: 80},
        width = +svg.attr("width") - margin.left - margin.right,
        height = +svg.attr("height") - margin.top - margin.bottom;

    var tooltip = d3.select("body").append("div").attr("class", "toolTip");

    var x = d3.scaleLinear().range([width, 0]);
    var y = d3.scaleBand().range([height, 0]);

    var g = svg.append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");


    // Initialize and add the map
    function plotMap(res, map) {
        var circle = {
            path: google.maps.SymbolPath.CIRCLE,
            fillColor: 'red',
            fillOpacity: .4,
            strokeColor: 'white',
            strokeWeight: .5,
            scale: 3
        };
        var infowindow = new google.maps.InfoWindow({});
        var marker;
        var count;
        var markercollect = [];
        var conceptHashmap = {};

        for (var item in res) {

            (function (loc) { //create a closure
                var latlon = loc.split(',');
                marker = new google.maps.Marker({
                    position: new google.maps.LatLng(parseFloat(latlon[0]), parseFloat(latlon[1])),
                    map: map,
                    icon: circle
                });

                var streetViewURL = "https://maps.googleapis.com/maps/api/streetview?location=" + parseFloat(latlon[0]) + "," + parseFloat(latlon[1]) + "&";

                var fullStreetURL = streetViewURL + $.param({
                        heading: "151.78",
                        size: "600x400",
                        pitch: "-0.76"
                    });

                var displayString = "";
                res[loc].forEach(function (item) {
                    displayString += item['name'] + "," + item['value'];
                    if (item['name'] in conceptHashmap) {
                        conceptHashmap[item['name']] = conceptHashmap[item['name']] += 1
                    } else {
                        conceptHashmap[item['name']] = 1
                    }
                });

                marker.addListener('mouseover', function () {
                    $('#streetview')
                        .attr('src', fullStreetURL).show();

                    $('.text').text(displayString);
                });
            })(item);
        }
        var fullmap = conceptHashmap;
        var d3Array = [];

        for (key in conceptHashmap) {
            d3Array.push({"concept": key, "value": conceptHashmap[key]});
        }

        d3Array.sort(function (a, b) {
            return a.value - b.value;
        });

        x.domain([0, d3.max(d3Array, function (d) {
            return d.value;
        })]);
        y.domain(d3Array.map(function (d) {
            return d.concept;
        })).padding(0.1);

        g.append("g")
            .attr("class", "x axis")
            .attr("transform", "translate(0," + height + ")")
            .call(d3.axisBottom(x).ticks(5).tickFormat(function (d) {
                return parseInt(d / 1000);
            }).tickSizeInner([-height]));

        g.append("g")
            .attr("class", "y axis")
            .call(d3.axisLeft(y));

        g.selectAll(".bar")
            .data(d3Array)
            .enter().append("rect")
            .attr("class", "bar")
            .attr("x", function (d) {
                return x(d.value)
            })
            .attr("height", y.bandwidth())
            .attr("y", function (d) {
                return y(d.concept);
            })
            .attr("width", function (d) {
                return x(0) - x(d.value);
            })
            .on("mousemove", function (d) {
                tooltip
                    .style("left", d3.event.pageX - 50 + "px")
                    .style("top", d3.event.pageY - 70 + "px")
                    .style("display", "inline-block")
                    .html((d.concept) + "<br>" + (d.value));
            })
            .on("mouseout", function (d) {
                tooltip.style("display", "none");
            });
    }

    function initMap() {

        var that = this;
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 9,
            center: {lat: 45.5, lng: -73}
        });
        this.map = map;
        $('#mapBtn').on('click', function () {
            var cityToSearch = $('#cityInput').val();
            $.ajax({
                url: '/api/search',
                type: 'POST',
                //send the latlon below
                data: JSON.stringify({"city": cityToSearch}),
                contentType: 'application/json',
                success: function (result) {
                    console.log(result);
                    plotMap(JSON.parse(result), that.map);
                }
            }).fail(function (data) {
                console.error("ERROR - Failed:" + data);
            });
        });
    }
</script>

<script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAeFC4kvVAYZHn0xPeQzcFMg7F_wFO7wA4&callback=initMap" async
        defer>

</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>
</html>